.menu-item:hover .nav-logo,
.menu-item.active .nav-logo {
  filter: invert(100%);
}

.pending .dashboard-logo {
  filter: invert(100%);
}
/* .menu-item:hover .dashboard-logo {
  filter: invert(0);
} */
